name: SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  sonarcloud:
    name: SonarCloud Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # SonarCloud recomienda tener historial completo

      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      # Opcional: instalar deps del servicio de ensayos
      - name: Install ensayos-service dependencies
        run: |
          cd mi-proyecto-node-docker/services/ensayos
          npm install

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
